The purpose of this notebook is to build a Doc2Vec model.

In [2]:
# Import libraries

import pandas as pd
import gensim
import pickle

## Model Building

In [3]:
# Read in the course data

course_df = pd.read_csv('../Data/Course_Data/Coursera_Catalog.csv')
print(course_df.shape)
course_df.head(2)

(4416, 10)

,courseType,description,domainTypes,id,slug,specializations,workload,primaryLanguages,certificates,name
0,v2.ondemand,Gamification is the application of game elemen...,"[{'subdomainId': 'design-and-product', 'domain...",69Bku0KoEeWZtA4u62x6lQ,gamification,[],4-8 hours/week,['en'],['VerifiedCert'],Gamification
1,v2.ondemand,This course will cover the steps used in weigh...,"[{'subdomainId': 'data-analysis', 'domainId': ...",0HiU7Oe4EeWTAQ4yevf_oQ,missing-data,[],"4 weeks of study, 1-2 hours/week",['en'],"['VerifiedCert', 'Specialization']",Dealing With Missing Data

In [4]:
# Preprocess the course data as a training corpus

# Convert the course descriptions to a list
course_descriptions = course_df['description'].to_list()

# Define a function for basic preprocessing:
# tokenize, lowercase, de-punctuation, document tagging
def read_corpus(corpus):
    for i, doc in enumerate(corpus):
        tokens = gensim.utils.simple_preprocess(doc)
        yield gensim.models.doc2vec.TaggedDocument(tokens, [i])

# Run the function on the list of course descriptions
train_corpus = list(read_corpus(course_descriptions))

In [5]:
# Examine the first document in the corpus (tag at end)

print(train_corpus[0])

TaggedDocument(['gamification', 'is', 'the', 'application', 'of', 'game', 'elements', 'and', 'digital', 'game', 'design', 'techniques', 'to', 'non', 'game', 'problems', 'such', 'as', 'business', 'and', 'social', 'impact', 'challenges', 'this', 'course', 'will', 'teach', 'you', 'the', 'mechanisms', 'of', 'gamification', 'why', 'it', 'has', 'such', 'tremendous', 'potential', 'and', 'how', 'to', 'use', 'it', 'effectively', 'for', 'additional', 'information', 'on', 'the', 'concepts', 'described', 'in', 'the', 'course', 'you', 'can', 'purchase', 'professor', 'werbach', 'book', 'for', 'the', 'win', 'how', 'game', 'thinking', 'can', 'revolutionize', 'your', 'business', 'in', 'print', 'or', 'ebook', 'format', 'in', 'several', 'languages'], [0])

In [6]:
# Build a model

# Instantiate the model
model = gensim.models.doc2vec.Doc2Vec(vector_size=50, 
                                      min_count=2,
                                      epochs=20)

# Create a vocabulary for the model
model.build_vocab(train_corpus)

# Train the model on the corpus
model.train(train_corpus,
            total_examples=model.corpus_count,
            epochs=model.epochs)

In [7]:
# Assess the model

# Infer a vector for a document in the training corpus itself.
vector = model.infer_vector(train_corpus[0].words)

# Find which documents in the training corpus it is most similar to.
sims = model.docvecs.most_similar([vector])
sims

[(0, 0.8581249713897705),
 (2684, 0.5964816808700562),
 (2120, 0.5931965708732605),
 (3331, 0.5783416032791138),
 (4203, 0.5554064512252808),
 (3056, 0.5423690676689148),
 (2627, 0.542302668094635),
 (4328, 0.5420007705688477),
 (2199, 0.5418453216552734),
 (1958, 0.540221095085144)]

### Analysis: 
The model successfully finds that the queried document is most similar to itself in the training corpus. But a similarity score of only .905 still seems low for two exactly identical documents.

In [8]:
# The text of the document in the corpus
train_corpus[0]

TaggedDocument(words=['gamification', 'is', 'the', 'application', 'of', 'game', 'elements', 'and', 'digital', 'game', 'design', 'techniques', 'to', 'non', 'game', 'problems', 'such', 'as', 'business', 'and', 'social', 'impact', 'challenges', 'this', 'course', 'will', 'teach', 'you', 'the', 'mechanisms', 'of', 'gamification', 'why', 'it', 'has', 'such', 'tremendous', 'potential', 'and', 'how', 'to', 'use', 'it', 'effectively', 'for', 'additional', 'information', 'on', 'the', 'concepts', 'described', 'in', 'the', 'course', 'you', 'can', 'purchase', 'professor', 'werbach', 'book', 'for', 'the', 'win', 'how', 'game', 'thinking', 'can', 'revolutionize', 'your', 'business', 'in', 'print', 'or', 'ebook', 'format', 'in', 'several', 'languages'], tags=[0])

In [9]:
# The vector of the document in the query
vector

array([-0.11358657,  0.5044122 ,  0.76628214,  0.03218646, -0.23753151,
        0.2665926 ,  0.49410805, -0.14075977,  0.19567868, -0.21876828,
       -0.0079117 ,  0.36510277,  0.19084287,  0.6142517 , -0.3176382 ,
        0.39823678, -0.7590614 ,  0.6338623 , -0.8535711 ,  0.32100213,
        0.5214239 , -0.20853934,  0.18825838,  0.04689705,  0.7630415 ,
        0.38151398, -0.22052005,  0.03286544, -0.12121077,  0.09105785,
       -0.31899485, -0.6547823 , -0.14526942, -0.21259952, -0.02188883,
        0.8841636 , -0.7558233 , -0.31093612, -0.24178424, -0.56622505,
       -0.39485082,  0.6808177 , -0.5476175 , -0.04802603,  0.47714233,
        0.5593272 , -0.7374285 , -0.33729836, -0.09298794,  0.05498069],
      dtype=float32)

In [10]:
# The vector of the document in the corpus
model.docvecs[0]

array([-0.03127697, -0.00277425,  0.2945563 , -0.04938454, -0.31213441,
        0.24915262,  0.4302734 ,  0.04227882, -0.03831569, -0.1001635 ,
        0.11011719,  0.31634364,  0.3777503 ,  0.6710243 , -0.15070547,
        0.2915138 , -0.3826081 ,  0.38618726, -0.64352095,  0.0998031 ,
        0.4160161 , -0.4285454 ,  0.07748959,  0.22557953,  0.6493333 ,
        0.07348888, -0.20777349, -0.19424206,  0.18133128,  0.19721256,
       -0.34279528, -0.3084849 , -0.05670695, -0.15091777, -0.23324265,
        0.62037665, -0.34769025, -0.14541434,  0.09189207, -0.37678534,
       -0.17755587,  0.47600743, -0.43857786, -0.40610453,  0.20230034,
        0.18271275, -0.28023484,  0.00390049, -0.28901303,  0.15364558],
      dtype=float32)

## Model Evaluation

In [18]:
# Read in the job descriptions test sample

jobs_test_sample = pd.read_csv('../EDA/jobs_test_sample.csv')
jobs_test_sample

        Job_title                                           Job_Desc  Job_id
0  Data Scientist  We are looking for Data Scientists who are int...     901
1  Data Scientist  The world's largest and fastest-growing compan...     910
2  Data Scientist  \nRole: Data Scientist.\n\nLocation: Foster Ci...     916
3  Data Scientist  Upstart is the leading AI lending platform par...     920
4  Data Scientist  Why Divvy?Over the past decade, millions of Am...     938
5   Data Engineer  About Rocket LawyerWe believe everyone deserve...     935
6   Data Engineer  Our mission is to create a world where mental ...    1068
7   Data Engineer  Data Engineer \nIf you are a Data Engineer wit...    1089
8   Data Engineer  Prabhav Services Inc. is one of the premier pr...    1100
9   Data Engineer  About Skupos\nSkupos is the data platform for ...    1105

In [19]:
# Read in the course descriptions test sample

courses_test_sample = pd.read_csv('../EDA/courses_test_sample.csv')
courses_test_sample

,name,description,job_title,course_id
0,The Data Scientist’s Toolbox,In this course you will get an introduction to...,Data Scientist,3823
1,Machine Learning,Machine learning is the science of getting com...,Data Scientist,143
2,Applied Machine Learning in Python,This course will introduce the learner to appl...,Data Scientist,3165
3,Data Visualization with Python,"""A picture is worth a thousand words"". We are ...",Data Scientist,3588
4,Machine Learning with Python,This course dives into the basics of machine l...,Data Scientist,2517
5,Databases and SQL for Data Science,Much of the world's data resides in databases....,Data Engineer,545
6,Google Cloud Platform Big Data and Machine Lea...,This 2-week accelerated on-demand course intro...,Data Engineer,1015
7,Big Data Modeling and Management Systems,Once you’ve identified a big data issue to ana...,Data Engineer,4233
8,Database Management Essentials,Database Management Essentials provides the fo...,Data Engineer,3763
9,"Data Warehouse Concepts, Design, and Data Inte...",This is the second course in the Data Warehous...,Data Engineer,1311

In [23]:
# Build a Data Science evaluation matrix

ds_jobs = jobs_test_sample.loc[jobs_test_sample['Job_title'] == 'Data Scientist']
ds_eval = pd.DataFrame()
ds_eval['job_id'] = ds_jobs['Job_id']
ds_eval[] = 

# for job in 
#     doc = gensim.utils.simple_preprocess(job_description)
#     vector = model.infer_vector(doc)

   job_id
0     901
1     910
2     916
3     920
4     938

## Querying Job Descriptions

In [13]:
# Read in the job data

job_df = pd.read_csv('../Data/Job_Data/Glassdoor_Joblist.csv')
print(job_df.shape)
job_df.head(2)

(3324, 12)

,Job_title,Company,State,City,Min_Salary,Max_Salary,Job_Desc,Industry,Rating,Date_Posted,Valid_until,Job_Type
0,Chief Marketing Officer (CMO),National Debt Relief,NY,New York,-1,-1,Who We're Looking For:\n\nThe Chief Marketing ...,Finance,4.0,2020-05-08,2020-06-07,FULL_TIME
1,Registered Nurse,Queens Boulevard Endoscopy Center,NY,Rego Park,-1,-1,"Queens Boulevard Endoscopy Center, an endoscop...",NaN,3.0,2020-04-25,2020-06-07,FULL_TIME

In [14]:
# Define a function that queries a job description

def job_query(job_description):
    doc = gensim.utils.simple_preprocess(job_description)
    vector = model.infer_vector(doc)
    sims = model.docvecs.most_similar([vector])
    return sims

In [15]:
# Select a sample job

display(job_df.loc[953])
jd_1 = job_df['Job_Desc'][953]

Job_title                                         Data Scientist
Company                                               Brightidea
State                                                         CA
City                                               San Francisco
Min_Salary                                                119642
Max_Salary                                                138312
Job_Desc       \nData Scientist\n\nat Brightidea\n\nSan Franc...
Industry                                  Information Technology
Rating                                                       4.3
Date_Posted                                           2020-04-24
Valid_until                                           2020-06-05
Job_Type                                               FULL_TIME
Name: 953, dtype: object

In [16]:
# Call the function on the sample job description
sim_docs = job_query(jd_1)

# Display the doc ids and similarity scores
sim_docs

[(1987, 0.6027417182922363),
 (2316, 0.5830969214439392),
 (3044, 0.573232889175415),
 (3374, 0.5678238272666931),
 (3120, 0.5664616227149963),
 (968, 0.5618869066238403),
 (4342, 0.5590941309928894),
 (4101, 0.5466418862342834),
 (2219, 0.5438205003738403),
 (3388, 0.5413758158683777)]

In [17]:
# Make a list of the ids for the top ten most similar docs
sim_ids = [sim[0] for sim in sim_docs]
sim_ids

[1987, 2316, 3044, 3374, 3120, 968, 4342, 4101, 2219, 3388]

In [18]:
# Which courses did the model identify as most similar?

course_df.loc[sim_ids, 'name']

1987                                     People Analytics
2316    Big Data Essentials: HDFS, MapReduce and Spark...
3044    Big Data Analysis: Hive, Spark SQL, DataFrames...
3374    Developing An Entrepreneurial Mindset: First S...
3120      Digital Product Management: Modern Fundamentals
968                Creating and Developing a Tech Startup
4342           Sales Training: Building Your Sales Career
4101                            Business Model Innovation
2219              Introduction to the Orbital Perspective
3388    Technology Commercialization, Part 1: Setting ...
Name: name, dtype: object

In [19]:
# Display the sample job description
jd_1

'\nData Scientist\n\nat Brightidea\n\nSan Francisco\n\nThe Role\n\nWe are seeking machine learning developers with natural language processing experience.\n\nIn general, we are looking for people who are self-motivated and passionate about the field of machine learning and the vast applications of it. These folks will have the ability to work with / understand / and build on top of an existing code base using their deep knowledge of various machine learning algorithms (e.g. neural networks, bayesian methods, etc).\n\nKey responsibilities include, but not limited to:\n\n\nBuild on top of an existing text processing/classification system\nWrite, maintain, and develop python machine learning modules & repos\nRun hyperparameter optimizations + collect, analyze, visualize, and present results\n\nWhat You Need to Succeed\n\nBS or MS in computer science, mathematics, physics or other hard science/engineering discipline\nProgramming in Python ~ 2+ years\nNumpy, scipy, pandas, Jupyter, and scikit-learn background\nData visualization (e.g. matplotlib, seaborn, bokeh, mpld3, etc)\nAbility to implement machine learning algorithms from scratch\nExperience with full machine learning pipeline: from data preprocessing, to building/training various models, to hyperparameter optimization, testing, and visualization of results.\nBackground in deep learning preferred but not required\n\nIn Your Application Please Include\n\n\n\nA past machine learning project you worked on in which highlights your skills, including: What tools/models did you use? What were some problems you encountered along the way, and how did you solve them?\n\n\n\nWhat Brightidea Offers\n\nMarket competitive salary and significant equity in a well-funded, growing company\nA chance to impact human creativity\nGenerous vacation and holidays\nTop-notch benefits (healthcare, vision, dental, maternity, paternity, retirement)\nA unique opportunity to use your leadership skills, experience, and contacts to build a team and shape the culture of the company.\nAn incredible team of fun, humble but brilliant co-workers\n\nBackground\n\nHelping large companies innovate isn’t easy, but it is vital. Vital to creating new jobs, vital to igniting growth, vital to ensuring a safe, healthy and prosperous future for billions around the globe.\n\nBut, innovation at large companies is a mess. Employees often have lots of ideas to improve the business, but, with no formal process, their ideas go unheard, and they eventually give up trying to make a difference. Corporate innovation teams are expected to support a growing list of activities but have historically lacked strong tools designed for the job. Executives, despite having millions to invest, live in fear of disruption, and still have no idea where their “next big idea” will come from, or if it will come at all.\n\nAt Brightidea, we’ve built a software platform that’s solving these problems. We’ve been helping organizations be more efficient with the 1.5 trillion dollars invested in R&D annually.\n\nOur Company & Culture\n\nWe are a tight-knit, entrepreneurial minded team of self-starters who show up every day with a singular mission: to create a world where the best ideas win. Our primary focus this year is to continue to add exceptionally talented and motivated individuals to the Brightidea team. We are ambitious, bold, highly-collaborative, focused, and we aim to win. We take a humble approach to changing the way corporate R&D teams run innovation challenges.\n\nAnyone joining our company will have the opportunity to shape the culture and be an integral part of setting it up for long term success. If you identify with being humble, T-shaped, and relentlessly resourceful then this could be the perfect team for you to shine in.\n\nBrightidea believes that everyone has the ability to make a difference and that a diverse team generates more innovation and bigger ideas. Just as our product invites organizations to crowd source innovation across their workforce, Brightidea is inclusive and does not discriminate. We accept everybody.\n'

In [20]:
# Display the description of the course identified as most similar

course_df.loc[sim_ids[0], 'description']

'People analytics is a data-driven approach to managing people at work. For the first time in history, business leaders can make decisions about their people based on deep analysis of data rather than the traditional methods of personal relationships, decision making based on experience, and risk avoidance. In this brand new course, three of Wharton’s top professors, all pioneers in the field of people analytics, will explore the state-of-the-art techniques used to recruit and retain great people, and demonstrate how these techniques are used at cutting-edge companies. They’ll explain how data and sophisticated analysis is brought to bear on people-related issues, such as recruiting, performance evaluation, leadership, hiring and promotion, job design, compensation, and collaboration. This course is an introduction to the theory of people analytics, and is not intended to prepare learners to perform complex talent management data analysis. By the end of this course, you’ll understand how and when hard data is used to make soft-skill decisions about hiring and talent development, so that you can position yourself as a strategic partner in your company’s talent management decisions. This course is intended to introduced you to Organizations flourish when the people who work in them flourish. Analytics can help make both happen. This course in People Analytics is designed to help you flourish in your career, too.'

### Analysis:
The architecture works, but the model does not appear to be very effective: Digital Product Management is definitely not the most relevant course on Coursera for the Data Scientist position at BrightIdea. Why does my model think it is? (The resoning is difficult to see just by looking at the two documents it matched together.) How can I improve the model's performance?

## Pickle the Model

In [21]:
# Save the model to file by serializing it with the pickle library.

pickle.dump(model, open('model.p', 'wb'))